:root {
    --background-primary: #141414;
    --color-primary: #e2e1e1;
    --background-card: #2b2b2b8f;
    --border-color-card: #ffffff3f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--color-primary);
    background-image: url(../img/grid.png); /* grid DevMidia */
    background-color: var(--background-primary);
}

header {
    width: 100%;
    padding: 20px;
}

header h1 {
    text-align: center;
}

main {
    width: 100%;
    flex: 1 0 auto; /* | flex grow = trabalha na altura | flex shrink = define a proporção com que um item deve encolher caso seja necessário | flex basis = define o tamanho inicial dos elementos, em unidades de pixel, antes que o espaço remanescente seja redistribuído*/
}

main section a {
    color: var(--color-primary);
}

section {
    max-width: 600px;
    text-align: justify;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.5;
}

section button {
    width: 100%;
    border: none;
    height: 24px;
    transition: 0.2s;
}

section button:hover {
    background: var(--background-primary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    cursor: pointer;
}


#image .card-pokemon {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(--border-color-card);
    background-color: var(--background-card);
    opacity: 0.7;
}

.about-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding-top: 20px;
}

.btn-none {
    display: none;
}

#image .card-pokemon:hover {
    opacity: 1;
}

#btn-card {
    padding-top: 30px;
}

#btn-card button {
    background: transparent;
    color: #fff;
    border: var(--border-color-card) 1px solid;
    border-radius: 2px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 6px;
}

#btn-card button:hover {
    background: var(--background-primary);
}

#btn-card img {
    width: 10px;
    
}

#id {
    opacity: 0.4;
}

.card-pokemon div:nth-child(1) img {
    width: 100%;
    height: 100px;
    opacity: 0.6;
}

.altura {
    height: 250px;
    animation: transition 1s;
    display: flex;
}

@keyframes transition {
    0% {
        height: 100px;
    }

    100%{
        height: 250px;
    }
}

footer {
    width: 100%;
    display:flex;
    flex-shrink: 0;
    gap: 5px;
    justify-content: center;
    padding: 30px;
}