:root {
    --background-primary: #141414;
    --color-primary: #e2e1e1;
    --background-card: #2b2b2b;
    --border-color-card: #ffffff3f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background-primary);
    color: var(--color-primary);
}

header {
    width: 100%;
    padding: 20px;
}

header h1 {
    text-align: center;
}

main {
    width: 100%;
    flex: 1 0 auto; /* | flex grow = trabalha na altura | flex shrink = define a proporção com que um item deve encolher caso seja necessário | flex basis = define o tamanho inicial dos elementos, em unidades de pixel, antes que o espaço remanescente seja redistribuído*/
}

section {
    max-width: 600px;
    text-align: justify;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section button {
    width: 100%;
    border: none;
    height: 24px;
    transition: 0.2s;
}

section button:hover {
    background: var(--background-primary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    cursor: pointer;
}

#image {
    margin-top: 40px;
}

#image .card-pokemon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--border-color-card);
    background-color: var(--background-card);
    opacity: 0.7;
    padding: 20px;
}

#image .card-pokemon:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    width: 100%;
    display:flex;
    flex-shrink: 0;
    gap: 5px;
    justify-content: center;
    padding: 30px;
}